@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body {
  background-color: #000000;
}

svg {
  background-color: #222222;
  display:block;
  margin:auto;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 5px;
  font-family: 'Amatic SC', cursive, sans-serif;
  font-size: 24px;
  background: #EEE;
  border: 5px;
  border-radius: 2.5px;
  border-style: solid;
  border-color: #CCC;
  pointer-events: none;
  opacity: 0;
}

.links line {
  stroke: #000;
  stroke-opacity: 0.6;
  stroke-width: 1px;
}
